# Our config overrides
Port 2222

# These are generated at host post-install and mounted by docker-compose
HostKey /keys/ssh_host_rsa_key
HostKey /keys/ssh_host_ecdsa_key
HostKey /keys/ssh_host_ed25519_key

# Below are the uncommented parts in the original installation config
AuthorizedKeysFile	.ssh/authorized_keys
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
Subsystem	sftp	/usr/lib/ssh/sftp-server
